<?xml version="1.0"?>
<launch>
    
    <param name="robot_description" command="$(find xacro)/xacro $(find franka_description)/robots/panda_arm_hand.urdf.xacro"/>
  
    <arg name="load_gripper" default="true"/>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model panda"/>
    
    <!-- convert joint states to TF transforms for rviz, etc -->

    <rosparam file="$(find franka_description)/config/panda_control.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller panda_arm_controller" />
    <node if="$(arg load_gripper)" name="controller_spawner_hand" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="panda_hand_controller" />
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" />

    <node name="joint_state_desired_publisher" pkg="topic_tools" type="relay" args="joint_states joint_states_desired" />
    <node name="human_frame_broadcaster" pkg="tf" type="static_transform_publisher" args="0.958983 0.862875 0.782241 0.99981 -0.00023 -0.01362 0.01376 human world 100" />


</launch>
